<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

  <test name="testgroupings">
 <groups>

 <define name="about life">
 <include name="Buddies">
 <include name="Family">
 <include name="Life">
 </include>
 </include>
 </include>
 </define>
<run>
 <include name="about life">
 </include>
 </run>
 </groups>
    <classes>
      <class name="groupings.group"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
